<%- include('../partials/_head',{title:"Ara Jo Portfolio", route:"main-page",aos:true}) %>

		<!-- loading page -->
		<div class="flex-column" id="loading-page">
			<img src="/images/main-page/loading.svg" />
			<h2>Loading...</h2>
		</div>
		<!-- Mobile Menu page -->
		<div class="mobile-menu-page" id="menu-page">
			<div class="mobile-menu__item">Home</div>
			<div class="mobile-menu__item">About</div>
			<div class="mobile-menu__item">Experience</div>
			<div class="mobile-menu__item">Works</div>
			<div class="mobile-menu__item">Contact</div>
		</div>
		<!-- Canvas -->
		<div class="canvas-container">
			<canvas id="canvas1"></canvas>

			<div class="ab-center flex-column">
				<div class="canvas__text-container no-user-select">
					<div>Hello, I'm <span>Ara Jo</span>.</div>
					<div>I'm a web developer.</div>
				</div>
				<button class="view-my-work no-user-select">
					<b>View my work</b>
				</button>
			</div>
			<div class="city-img ab-bottom"></div>
		</div>

		<main>
			<%- include('../partials/_header') %>

			<section class="top-container">
				<!-- section1 -about-me -->
				<div class="container about-me" id="about-me">
					<div
						class="image-container"
						data-aos="fade-right"
						data-aos-offset="300"
						data-aos-easing="ease-in-sine"
						data-aos-duration="1000"
						once="true"
					>
						<img src="images/main-page/mypic2.png" />
					</div>
					<div class="text-container">
						<div
							class="headline"
							data-aos="fade-left"
							data-aos-easing="ease-in-sine"
							data-aos-delay="600"
							data-aos-duration="1000"
						>
							Hi, I'm Ara!
						</div>
						<div
							class="content"
							data-aos="fade-left"
							data-aos-easing="ease-in-sine"
							data-aos-delay="800"
							data-aos-duration="1000"
						>
							<p>
								I'm a creative Web Developer from South Korea. With a strong passion for
								technology and a drive to constantly improve my skills, I have dedicated
								myself to building innovative and user-friendly websites. I am excited
								to continue learning and growing in the field, and I am eager to bring
								my passion and skills to new projects.
							</p>
							<p>
								From HTML and CSS to JavaScript and React, I have a strong foundation in
								the latest web development technologies. This portfolio showcases a
								selection of my most recent projects and demonstrates my skills and
								creativity as a web developer.
							</p>
						</div>
					</div>
					<div class="scroll-down-btn-container" data-nextpage="Skills">
						<div class="scroll-down-btn">
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</div>
				</div>

				<!-- section2 - skills -->
				<div class="container skills" id="skills">
					<div class="flex-column inner-container">
						<div class="headline">Skills</div>
						<div
							class="skill-set-container flex-column"
							data-aos="fade-up"
							data-aos-duration="1000"
						>
							<div class="white-background"></div>
							<ul class="skill-set flex-column">

							<!-- skills -->
							<% icons.forEach((icon)=>{ %>
								<li class="skill flex-column">
									<div class="skill-icon__icon">
										<i class="fa-brands <%= icon.class%>"></i>
									</div>
									<div class="skill-icon__name"><%= icon.name%></div>
								</li>
							<% });%>
		
							</ul>

							<!-- skill plus -->
							<div class="skill-plus">
								<div class="skill-plus__text">And a little bit of</div>
								<ul class="skill-set flex-column">
									<li class="skill flex-column">
										<div class="skill-icon__icon">
											<i class="fa-brands fa-figma"></i>
										</div>
										<div class="skill-icon__name">Pigma</div>
									</li>
									<li class="skill flex-column">
										<div class="skill-icon__icon">
											<img src="/images/main-page/illustrator.png" alt="" />
										</div>
										<div class="skill-icon__name">Illustrator</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="scroll-down-btn-container" data-nextpage="Experience">
						<div class="scroll-down-btn">
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</div>
				</div>
				<!-- section 3 - experience -->
				<div class="container experience" id="experience">
					<div
						class="flex-column inner-container width60"
						data-aos="fade"
						data-aos-easing="ease-in"
						data-aos-duration="1500"
					>
						<div class="headline">Experience</div>
						<div class="height80 flex-column">
							<div class="company">
								<div class="company__list">
									<button class="company__name" aria-selected="true">No Frills</button>
									<button class="company__name">Equity Health Services</button>
									<button class="company__name">Maple Bear Canada Inc.</button>
									<button class="company__name">Histogenetics</button>
									<button class="company__name">Animal & Plant Quarantine Agency</button>
								</div>
								<div class="company__detail">
									<div class="company__detail-box">
										<div class="job-title">Inventory Clerk (produce department)</div>
										<div class="flex-btw">
											<div class="job-period">January 2023 - Current</div>
											<div class="job-location">Calgary, Canada</div>
										</div>

										<ul class="job-detail-list">
											<li class="job-detail">
												Monitored and maintained current inventory levels
											</li>
											<li class="job-detail">
												Received, unpacked, and delivered goods; re-stocked items as necessary
											</li>
											<li class="job-detail">
												<i>Currently looking for web developer position</i>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="scroll-down-btn-container" data-nextpage="Works">
						<div class="scroll-down-btn">
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</div>
				</div>
				<!-- section 4 - works -->
				<div class="container works" id="works">
					<div class="flex-column width95" data-aos="fade" data-aos-easing="ease-in">
						<div class="headline">Works</div>
						<div class="height80">
							<div class="work-container">

								<!-- works -->
								<% works.forEach((work)=>{ %>
									<div class="work">
									<% if(work.withSound){ %>
									<div class="audio-icon"><i class="fa-solid fa-music"></i></div>
									<% } %>
									<img src= <%= work.img %> />
									<div class="work__detail-page flex-column">
										<div class="work__name"><%= work.name %></div>
										<div class="used-skill-set">
											<% work.skills.forEach((skill)=>{ %>
											<button class="used-skill"><%= skill %></button>
											<% })%>
										</div>
										<div class="work__btns">
											<button class="view-live" id=<%= work.id%>>View Live</button>
											<button class="view-git">Show Code</button>
										</div>
									</div>
								</div>
								<% }); %>

							</div>
						</div>
					</div>
					<div class="scroll-down-btn-container" data-nextpage="Contact">
						<div class="scroll-down-btn">
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</div>
				</div>

				<!-- section 5 - contact -->
				<div class="container contact" id="contact">
					<div class="flex-column contact-box">
						<div class="headline">Get in touch</div>
						<div class="contact__message">
							Feel free to reach out to get to know more! Working together or being
							friends, I'm open for knowing new people. Contact me by the form below or
							email me at <a class="open-email"><b>joara613@gmail.com</b></a
							>.
						</div>
						<div class="form-container flex-column">
							<div class="form-container__background"></div>
							<form id="contact-form" action="https://formsubmit.co/joara613@gmail.com" method="POST" name="emailForm">
								<input name="name" type="text" placeholder="name" required />
								<input type="email" name="email" placeholder="Email Address" required>
								<!-- <input type="hidden" name="_subject" value="New submission!"> -->
								<input type="text" name="_subject" placeholder="subject" required>
								<input type="hidden" name="_blacklist" value="spammy pattern, banned term, phrase">
								<input type="hidden" name="_autoresponse" value="Thank you for your email! I received your email successfully and will reply you as soon as possible.">
								<textarea name="message" placeholder="email content" required></textarea>
								<input type="hidden" name="_next" value="https://ara-jo.cyclic.app">
								<button>Send</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>

		<%- include('../partials/_foot',{title:"Ara Jo Portfolio", route:"main-page",aos:true}) %>